In [2]:
import pandas as pd
import json

In [3]:
f = open('/home/erstome/DareData/pod6_assignments/life_expectancy/data/eurostat_life_expect.json')
data = json.load(f)

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

  unit sex  age country  year  life_expectancy flag flag_detail
0   YR   F  Y65      AT  2021             21.2    e   estimated
1   YR   F  Y65      BE  2021             22.2    e   estimated
2   YR   F  Y65      BG  2021             15.6    e   estimated
3   YR   F  Y65      CH  2021             23.1    e   estimated
4   YR   F  Y65      CY  2021             21.2    e   estimated

In [1]:
with open('/home/erstome/DareData/pod6_assignments/life_expectancy/data/eurostat_life_expect.json', encoding="utf-8") as f:
    data = json.load(f)
    df2 = pd.DataFrame(data)

NameError: name 'json' is not defined

In [13]:
len(data[:100])

100

In [16]:
with open('/home/erstome/DareData/pod6_assignments/life_expectancy/tests/fixtures/eurostat_life_expect_sample.json', 'w') as file:
    file.write(json.dumps(data[:100], indent=4))

In [10]:
aa = df.country.unique()

In [13]:
aa.sort()

In [18]:
print(aa)

['AL' 'AM' 'AT' 'AZ' 'BE' 'BG' 'BY' 'CH' 'CY' 'CZ' 'DE' 'DE_TOT' 'DK'
 'EA18' 'EA19' 'EE' 'EEA30_2007' 'EEA31' 'EFTA' 'EL' 'ES' 'EU27_2007'
 'EU27_2020' 'EU28' 'FI' 'FR' 'FX' 'GE' 'HR' 'HU' 'IE' 'IS' 'IT' 'LI' 'LT'
 'LU' 'LV' 'MD' 'ME' 'MK' 'MT' 'NL' 'NO' 'PL' 'PT' 'RO' 'RS' 'RU' 'SE'
 'SI' 'SK' 'SM' 'TR' 'UA' 'UK' 'XK']

In [8]:
df2 = pd.read_csv('/home/erstome/DareData/pod6_assignments/life_expectancy/data/eu_life_expectancy_raw.tsv',
                  sep='\t')

In [9]:
df2

,"unit,sex,age,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,"YR,F,Y1,AL",:,79.4,80.4,80.2,79.7,79.8,79.2,79.8,79.6,...,:,:,:,:,:,:,:,:,:,:
1,"YR,F,Y1,AM",:,:,79.1,79.2,78.5,78.0,77.9,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"YR,F,Y1,AT",:,82.9,83.5,83.3,83.2,83.4,83.0,83.3,83.0,...,:,:,:,:,:,:,:,:,:,:
3,"YR,F,Y1,AZ",:,:,78.6,78.1,77.7,:,77.5,77.0,76.9,...,:,:,:,:,:,:,:,:,:,:
4,"YR,F,Y1,BE",:,82.3,83.6,83.2,83.2,83.2,82.6,83.1,82.5,...,74.4,74.3,74.7,74.4,74.3,74.6,73.9,74.0,74.5,73.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14443,"YR,T,Y_LT1,SM",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
14444,"YR,T,Y_LT1,TR",:,:,79.1,78.9,78.5,78.1,78.2,78.1,78.2,...,:,:,:,:,:,:,:,:,:,:
14445,"YR,T,Y_LT1,UA",:,:,73.4,73.2,73.3,72.9,72.5,71.8,:,...,:,:,:,:,:,:,:,:,:,:
14446,"YR,T,Y_LT1,UK",:,:,:,81.3,81.3,81.2,81.0,81.4,81.1,...,:,:,:,:,:,:,:,:,:,:
14447,"YR,T,Y_LT1,XK",:,:,:,:,:,78.6 p,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [34]:
from life_expectancy.life_expectancy import load_save, cleaning
from pathlib import Path

In [44]:
df3 = load_save.load_data(Path('/home/erstome/DareData/pod6_assignments/life_expectancy/data/eu_life_expectancy_raw.tsv'),
                    load_save.TSVDataFormat())

In [49]:
df4 = cleaning.clean_data(df3)

In [51]:
df4.region.unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DK', 'EE', 'EL', 'ES',
       'EU27_2020', 'FI', 'FR', 'HR', 'HU', 'IS', 'IT', 'LI', 'LT', 'LU',
       'LV', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'DE',
       'DE_TOT', 'AL', 'EA18', 'EA19', 'EFTA', 'IE', 'ME', 'MK', 'RS',
       'AM', 'AZ', 'GE', 'TR', 'UA', 'BY', 'EEA30_2007', 'EEA31',
       'EU27_2007', 'EU28', 'UK', 'XK', 'FX', 'MD', 'SM', 'RU'],
      dtype=object)

In [62]:
len(set(aa))

56

In [63]:
len(df4.region.unique())

56

In [60]:
len(set(list(aa) + list(df4.region.unique())))

56

In [ ]:
life_expectancy_df = load_data(file_path=file_path)

life_expectancy_df_cleaned = clean_data(life_expectancy_df)

In [109]:
"Countries enum"
from enum import Enum, unique

@unique
class Country(Enum):
    AL = 'AL'
    AM = 'AM'
    AT = 'AT'
    AZ = 'AZ'
    BE = 'BE'
    BG = 'BG'
    BY = 'BY'
    CH = 'CH'
    CY = 'CY'
    CZ = 'CZ'
    DE = 'DE'
    DE_TOT = 'DE_TOT'
    DK = 'DK'
    EA18 = 'EA18'
    EA19 = 'EA19'
    EE = 'EE'
    EEA30_2007 = 'EEA30_2007'
    EEA31 = 'EEA31'
    EFTA = 'EFTA'
    EL = 'EL'
    ES = 'ES'
    EU27_2007 = 'EU27_2007'
    EU27_2020 = 'EU27_2020'
    EU28 = 'EU28'
    FI = 'FI'
    FR = 'FR'
    FX = 'FX'
    GE = 'GE'
    HR = 'HR'
    HU = 'HU'
    IE = 'IE'
    IS = 'IS'
    IT = 'IT'
    LI = 'LI'
    LT = 'LT'
    LU = 'LU'
    LV = 'LV'
    MD = 'MD'
    ME = 'ME'
    MK = 'MK'
    MT = 'MT'
    NL = 'NL'
    NO = 'NO'
    PL = 'PL'
    PT = 'PT'
    RO = 'RO'
    RS = 'RS'
    RU = 'RU'
    SE = 'SE'
    SI = 'SI'
    SK = 'SK'
    SM = 'SM'
    TR = 'TR'
    UA = 'UA'
    UK = 'UK'
    XK = 'XK'

    @classmethod
    def list_of_countries(cls):
        "List of actual countries"
        return [country.value for country in cls if len(country.value)==2]

In [110]:
coiso = Country('PT')

In [112]:
countries = Country.list_of_countries()

In [106]:
all([len(a)==2 for a in countries])

True

In [108]:
Country('PT').value

'PT'

In [90]:
for a in (Country):
    print(a)

Country.AL
Country.AM
Country.AT
Country.AZ
Country.BE
Country.BG
Country.BY
Country.CH
Country.CY
Country.CZ
Country.DE
Country.DE_TOT
Country.DK
Country.EA18
Country.EA19
Country.EE
Country.EEA30_2007
Country.EEA31
Country.EFTA
Country.EL
Country.ES
Country.EU27_2007
Country.EU27_2020
Country.EU28
Country.FI
Country.FR
Country.FX
Country.GE
Country.HR
Country.HU
Country.IE
Country.IS
Country.IT
Country.LI
Country.LT
Country.LU
Country.LV
Country.MD
Country.ME
Country.MK
Country.MT
Country.NL
Country.NO
Country.PL
Country.PT
Country.RO
Country.RS
Country.RU
Country.SE
Country.SI
Country.SK
Country.SM
Country.TR
Country.UA
Country.UK
Country.XK