In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
import pandas as pd
from life_expectancy.cleaning import clean_data

In [153]:
data = clean_data()

In [3]:
from life_expectancy.tests import OUTPUT_DIR

In [4]:
OUTPUT_DIR

PosixPath('/home/erstome/DareData/pod6_assignments/assignments/life_expectancy/data')

In [5]:
'PT'.lower()

'pt'

In [155]:
data

       unit sex     age region  year  value
25       YR   F     Y65     PT  2021   21.7
55       YR   F   Y_LT1     PT  2021   84.3
85       YR   M     Y65     PT  2021   17.8
115      YR   M   Y_LT1     PT  2021   78.0
147      YR   T     Y65     PT  2021   19.9
...     ...  ..     ...    ...   ...    ...
474340   YR   T     Y83     PT  1960    4.7
474350   YR   T     Y84     PT  1960    4.5
474360   YR   T      Y9     PT  1960   62.9
474370   YR   T  Y_GE85     PT  1960    4.2
474380   YR   T   Y_LT1     PT  1960   64.0

[15744 rows x 6 columns]